[Unit]
Description=%p
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5s

# Set up sshguard tables
ExecStartPre=-/usr/sbin/iptables -N sshguard
ExecStartPre=-/usr/sbin/ip6tables -N sshguard

# Link sshguard tables to main INPUT tables
ExecStartPre=-/usr/sbin/iptables -D INPUT -j sshguard
ExecStartPre=-/usr/sbin/ip6tables -D INPUT -j sshguard
ExecStartPre=-/usr/sbin/iptables -A INPUT -j sshguard
ExecStartPre=-/usr/sbin/ip6tables -A INPUT -j sshguard

ExecStart=/bin/sh -c 'journalctl -afb -p info -n1 -o cat -t sshd | \
   rkt run \
      --insecure-options=image \
      --interactive \
      --net=host \
      --stage1-name=coreos.com/rkt/stage1-fly:1.21.0 docker://mischief/sshguard \
      --caps-retain=CAP_NET_ADMIN'

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
